body{background-color: #acc69f;
    font-family: Verdana, sans-serif}
header{background-color: #d9ff66;
       padding-left: 0.5em; font-size: 250%;
       border-bottom: 1px black solid;
       border-radius: 10px;
}
header a {
    text-decoration: none;}
nav {
    background-color: #a4dd88;
    padding: 0px 0px 3px 0px;
}
nav > a {
    padding: 2px;
    background-color: #15280b;
    font-size: 9pt;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: 1px #15280b solid;
    border-radius: 5px;
}
#loginbox {
    border: #44cc00 3px solid;
    background-color: #339900;
    position:absolute;
    right: 10px;
}
#loginbox a{
    color: white;
}
main{background-color: #a7d590;}

.button{
    position: relative;
    bottom: 0.2em;
    font-size: small;
    padding: 0.2em;
    background-color: #992222;
    border: 1px black solid;
    border-bottom-width: 3px;
    border-right-width: 3px;
    border-radius: 5px;}
.button a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/*Errorlist(ul) / //helptext(span) is used when a form fails to validate*/

ul.errorlist {
    padding: 0.5em;
    list-style: none;
    border: red solid 4px;
    background-color: #FFAAAA;
}

ul.errorlist li{
    font-size: 110%;
    font-weight: bold;
}

#station_table {
    width: 100%;
    padding: 1em;
    border-radius: 10px;
}

tr.row_odd {background-color: #ffd966;}
.row_odd td,
.row_even td {padding: 0.5em;}
tr.row_even {
    background-color: #ffb366;
    border: 1px solid gray;}

footer{text-align: center;}