{% load staticfiles %}<!DOCTYPE html><html>
  <head><link rel="stylesheet" type="text/css" href="{% static 'radir/css/style.css' %}" />
    <link rel="icon" href="{% static 'radir/img/favicon.png' %}" />
  {% block extra_head %}{% endblock %}</head>
  <body><header>{% block header %}<a href="{%url 'root'%}">RADIR</a> - The radio directory{% endblock header %}</header>
    <nav>{% block breadcrumb %}<a href="{%url 'root'%}">Home</a>{% endblock breadcrumb %}<span id="loginbox">{%if request.user.is_authenticated %}<a href="{% url 'user_profile' %}">{{ request.user.username }}</a>, <a href="{% url 'logout' %}"> logout </a>{%else%}<a href="{% url 'login' %}"> login </a>{%endif%}</span></nav>
    <main id="content">{% block content %}{% endblock content %}</main>
    <footer>{% block footer %}<hr/>Powered by <a href="https://gitlab.com/sspaeth/radir">RADIR</a>. Available as free software under the GNU Affero GPL v3 license.{% endblock footer %}</footer></body></html>
