{% extends "base.html" %}
{% block breadcrumb %}{{block.super}} ▶ About ▶ <a href="{%url 'licenses'%}">Licenses</a>{% endblock breadcrumb %}
{% block content %}
<h1>Licenses</h1>
<ul>
  <li>The 'radir' software is released under the GNU Affero GPL v3+.</li>
  <li>The radio database is made available under the <a href="http://www.opendatacommons.org/licenses/pddl/1.0/">Public Domain Dedication and License (PDDL) v1.0</a>. It essentially means you can download the whole dataset and do with it what you want.<br/>By submitting to or editing the database you confirm that you license the data under the above license.</li>
  <li>The list of countries was taken from <a href="https://datahub.io/de/dataset/iso-3166-1-alpha-2-country-codes">here</a> and is also licensed under the <a href="http://opendatacommons.org/licenses/pddl/">PDDL</a>.</li>
</ul>
{% endblock %}
