{% extends "base.html" %}

{% block content %}
<h1>Welcome!</h1>
<section><p>We provide a free, user-curated directory of internet radio stations under a liberal <a href="{% url 'licenses' %}">license</a>. It is intended to be useful both for humans in front of a web browser and for devices making use of the json <a href="/api/v1/">API</a>. Also, this is kind of a wiki, so feel free to add and improve what is here. If some tag or language is missing, let us know.</p>
<p><b>Check out the <a href="{% url 'station-listing' %}">list of radio stations</a> as a starting point.</b></p></section>

<section><h2>Statistics</h2>
  <table style="text-align:right;">
    <tr><th>Stations:</th><td><a href="{% url 'station-listing' %}">{{num_stations}}</a></td>
      <th>Tags:</th><td><a href="{% url 'tag-listing' %}">{{num_tags}}</a></td></tr>
    <tr><th>Countries:</th><td><a href="{% url 'country-listing' %}">{{num_countries}}</a></td>
    <th>Languages:</th><td><a href="{% url 'language-listing' %}">{{num_languages}}</a></td></tr>
  </table>
</section

<p>If you are interested in using this programmatically, checkout our <a href="/api/v1/">API</a>, the URLS there can be used to retrieve data in json format.</p>
{% endblock %}
