{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<h1>{{user.username}}'s Profile</h1>

<form method="post" action="{% url 'user_profile' %}">
  {% csrf_token %}
<table>
      {{form}}
</table>

<input type="submit" value="Modify" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p>Change your password <a href="{% url 'password_change' %}">here</a>.</p>
{% endblock %}
