{% extends "base.html" %}
{% block breadcrumb %}{{block.super}} ▶ <a href="{%url 'country-listing'%}">Countries</a>{% endblock breadcrumb %}
{% block content %}
<h1>List of countries</h1>
<ul>
  {% for country in country_list %}
  <li><a href="{% url 'station-by-country' country %}">{{ country.name }}</a> ({{country.station_set.count}})</li>
  {% endfor %}
</ul>
{% endblock %}
