{% extends "base.html" %}
{% block breadcrumb %}{{block.super}} ▶ <a href="{%url 'language-listing'%}">Languages</a>{% endblock breadcrumb %}
{% block content %}
<h1>List of Languages</h1>
<ul>
  {% for lang in language_list %}
  <li><a href="{% url 'station-by-language' lang %}">{{ lang.name }}</a> ({{lang.station_set.count}})</li>
  {% endfor %}
</ul>
{% endblock %}
