{% extends "base.html" %}
{% block breadcrumb %}{{block.super}} ▶ <a href="{%url 'station-listing'%}">Stations</a> ▶ {% if station %}<a href="{% url 'station-edit' station.pk %}">{{station}}{% else %}<a href="{% url 'station-create' %}">Add{% endif %}</a>{% endblock breadcrumb %}

{% block content %}<h1>Station '{{station}}'</h1>
<form action="" method="post">{% csrf_token %}
  <table>
  {{ form }}
</table>
  <input type="submit" value="Save" /> After saving, you will have an opportunity to add a stream URL.
</form>
{% endblock %}
