{% extends "base.html" %}
{% block breadcrumb %}{{block.super}} ▶ <a href="{%url 'station-listing'%}">Stations</a> ▶ <a href="{% url 'station-home' station.pk %}">{{station}}</a>{% endblock breadcrumb %}
{% block content %}
<h1 style="display: inline-block;">{{station}}</h1>

<section><h2 style="display: inline-block;">Streams</h2>
  <span class="button"><a href="{% url 'stream-create' station.pk %}">Add stream <img src="/static/radir/img/add.svg" width="20px" height="20px"/></a></a></span>
  {%if station.streams.count %}<span class="button"><a href="{% url 'stream-home' station.pk %}">Play a stream <img src="/static/radir/img/play.svg" width="20px" height="20px"/></a></span>{%endif%}
<table>{% for stream in station.streams.all %}
  <tr><th style="text-align:right;">{{stream}}</th>
    <td><a href="{% url 'stream-home' station.pk stream.pk %}"><img src="/static/radir/img/play.svg" width="20px" height="20px"/></a>
    <a href="{% url 'stream-edit' station.pk stream.pk %}"><img src="/static/radir/img/edit.svg" width="20px" height="20px"/></a></td></tr>{% endfor %}
</table></section>

<h2 style="display: inline-block;">Metadata of '{{station.name}}'</h2>
<span class="button"><a href="{% url 'station-edit' station.pk %}">Edit <img src="/static/radir/img/edit.svg" width="20px" height="20px"/></a></span>
<table>

  <tr><th style="text-align:right;">Short webname:</th><td>{{station.slug}}</td></tr>
  <tr><th style="text-align:right;">Likes:</td><td>{{station.likes}}</td></tr>
  <tr><th style="text-align:right;">Logo:</td><td>{{station.logo}}</td></tr>
  <tr><th style="text-align:right;">Website:</td><td>{{station.website}}</td></tr>
  <tr><th style="text-align:right;">Country:</td><td><a href="{% url 'station-by-country' station.country %}">{{station.country}}</a></td></tr>
  <tr><th style="text-align:right;">Language:</td><td><a href="{% url 'station-by-language' station.language %}">{{station.language}}</a></td></tr>
<tr><th style="text-align:right;">Tags:</td><td>{% for tag in station.tags.all %}<a href="{% url 'station-by-tag' tag %}">{{tag}}</a> {% endfor %}</td></tr>
  <tr><th style="text-align:right;">Added on:</th><td style="text-align:right;">{{station.date_added}}</td></tr>
</table>
{% endblock %}
