{% extends "base.html" %}
{% block breadcrumb %}{{block.super}} ▶ <a href="{%url 'language-listing'%}">Languages</a>  ▶  <a href="{%url 'station-by-language' language %}">{{language}}</a>{% endblock breadcrumb %}
{% block content %}
<h1>Radio stations in {{language}}</h1>
{% include "radir/station_table_snippet.html"%}
{% endblock %}
