{% extends "base.html" %}
{% block breadcrumb %}{{block.super}} ▶ <a href="{%url 'country-listing'%}">Countries</a>  ▶  <a href="{%url 'station-by-country' country.name %}">{{country}}</a>{% endblock breadcrumb %}
{% block content %}
<h1>Radio stations in {{country}}</h1>
{% include "radir/station_table_snippet.html"%}
{% endblock %}
