{% extends "base.html" %}
{% block breadcrumb %}{{block.super}} ▶ <a href="{%url 'tag-listing'%}">Tags</a>  ▶  <a href="{%url 'station-by-tag' tag %}">{{tag}}</a>{% endblock breadcrumb %}
{% block content %}
<h1>Radio stations with tag "{{tag}}"</h1>
{% include "radir/station_table_snippet.html"%}
{% endblock %}
