{% extends "base.html" %}
{% block breadcrumb %}{{block.super}} ▶ <a href="{%url 'station-listing'%}">Stations</a>{% endblock breadcrumb %}
{% block content %}
<h1>Radio stations</h1>
{% include "radir/station_table_snippet.html"%}
{% endblock %}
