<p>Showing stations {{page_obj.start_index}}-{{page_obj.end_index}} out of {{paginator.count}} (page {{page_obj.number}} of {{paginator.num_pages}}). {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}">&lt;previous page</a>{% endif %} 
{% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">next page&gt;</a>{% endif %}</p>
<table id="station_table">
  {% for station in station_list %}
  <tr class="{% cycle 'row_odd' 'row_even' %}"><td width="10%"><b><a href="{% url 'station-home' station.pk %}">{{ station.name }}</a></b></td><td width="10%">{% for tag in station.tags.all %}<a href="{% url 'station-by-tag' tag %}">{{tag}}</a> {% endfor %}</td><td width="80%"><span class="button"><a href="{% url 'stream-home' station.pk %}">Play <img src="/static/radir/img/play.svg" width="20px" height="20px"/></a></span></td></tr>
  {% endfor %}
</table>

<span class="button"><a href="{% url 'station-create' %}">Add station <img src="/static/radir/img/add.svg" width="20px" height="20px"/></a></span>
