{% extends "base.html" %}
{% block breadcrumb %}{{block.super}} ▶ <a href="{%url 'station-listing'%}">Stations</a> ▶ <a href="{% url 'station-home' station.pk %}">{{station}}</a>  ▶  {% if stream %} Stream {% else %}<a href="{% url 'stream-create' station.pk %}">Add</a>{% endif %}{% endblock breadcrumb %}

{% block content %}<h1>{% if stream %}Edit{% else %}Add{% endif %} stream for station '{{station}}'</h1>
<form action="" method="post">{% csrf_token %}
  <table>
  {{ form }}
</table>
  <input type="submit" value="Save" />
</form>
{% endblock %}
