{% extends "base.html" %}
{% block breadcrumb %}{{block.super}} ▶ <a href="{%url 'tag-listing'%}">Tags</a>{% endblock breadcrumb %}
{% block content %}
<h1>List of Tags</h1>
<ul>
  {% for tag in tag_list %}
  <li><a href="{% url 'station-by-tag' tag %}">{{ tag }}</a> ({{tag.station_set.count}})</li>
  {% endfor %}
</ul>
{% endblock %}
