{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<h1>Register</h1>
<form method="post" action="{% url 'register' %}">
{% csrf_token %}
<table>

  {{ form }}
  </table>

<input type="submit" value="register" />
<input type="hidden" name="next" value="/accounts/profile" />
</form>

{% endblock %}
